<launch>

    <node name = "ibowLCD_dist" pkg = "ibow-lcd" type = "ibowLCD_dist" output = "screen">
        <!-- Serial port name-->
        <param name="numberAgents" value = "25"/>
        <param name = "dataset" value = "Lip6In"/>
        <!-- <param name = "dataset" value = "Lip6Out"/> -->
        <!-- <param name = "dataset" value = "CityCentre"/> -->
        <!-- <param name = "dataset" value = "KITTI00"/> -->
        <!-- <param name = "dataset" value = "KITTI05"/> -->

        <param name = "filter" value = "1"/>
        <param name = "original" value = "1"/>
        <param name = "purge" value = "0"/>
        <param name = "paso" value = "5"/>
        <param name = "p" value = "50"/>
        <param name = "mScore" value = "0.1"/>
        <param name = "islandSize" value = "7"/>
        <param name = "minConsecutiveLoops" value = "5"/>
        <param name = "minInliers" value = "52"/>
        <param name = "nndrBf" value = "0.7"/>
        <param name = "epDist" value = "1"/>
        <param name = "confProb" value = "0.99"/>

    </node>

</launch>